@import "../abstracts/_variables.css";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $glob-text-font-stack;
}

a {
  text-decoration: none;
}
