@import "../abstracts/_variables.css";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $glob-text-font-stack;
  color: $glob-color-white;
  background: #000 url("../images/stars_pattern.png") 50% 0 / 500px auto repeat;
  animation: scroll-background 20s linear infinite;
}

a {
  text-decoration: none;
}

@keyframes scroll-background {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: 50% 750px;
  }
}
