@import "../../../../assets/styles/abstracts/_variables.css";

.create-post-form {
  display: inline;

  .mb-6 {
    margin-bottom: 0;
  }
}

.create-post-input {
  background-color: $glob-color-dark-90;
  border: none;
  border-radius: 5px;
  color: $glob-color-white;
  display: inline;
}

.create-post-button {
  @apply px-2 md:px-4;

  background-color: $glob-color-warning;

  &:hover {
    background-color: $glob-color-warning-hover;
  }
}
