.navigation {
  @apply flex relative;
}

.toogler {
  width: 20px;
  height: 20px;
  @apply bg-[url('../../assets/images/ico/menu-ico-white.svg')];
  @apply bg-no-repeat bg-center bg-contain;
}

.list {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 26px;
  padding: 10px;
  border: 1px solid #d3dce6;
  border-radius: 7px;
  display: none;
  @apply bg-sky-600/70 dark:bg-stone-800/70 shadow shadow-black/20 backdrop-blur;
}

.list-open {
  display: block;
}

.link {
  @apply text-black dark:text-white;

  display: block;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    @apply bg-slate-800/50 dark:bg-slate-500/50;
  }
}

.link-active {
  @apply text-slate-500 dark:text-slate-600;

  /* color: rgb(102, 102, 102); */
  pointer-events: none;
}
