.navigation {
  position: relative;
}

.toogler {
  width: 20px;
  height: 20px;
  @apply bg-[url('../../assets/images/ico/menu-ico-white.svg')];
  @apply bg-no-repeat bg-center bg-contain;
}

.list {
  position: absolute;
  width: 220px;
  right: 0;
  top: 100%;
  margin-top: 26px;
  padding: 10px;
  background: rgb(21 23 41 / 70%);
  border: 1px solid #d3dce6;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
  border-radius: 7px;
  display: none;
}

.list-open {
  display: block;
}

.link {
  display: block;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    background: #212529;
  }
}

.link-active {
  color: #666;
  pointer-events: none;
}
