@import "https://fonts.googleapis.com/css2?family=VT323&display=swap";

.game {
  @apply fixed inset-4;

  &_overlay {
    @apply absolute flex flex-col
      justify-center items-center inset-0;
  }

  &_area {
    @apply relative w-auto h-auto max-w-full max-h-full m-auto;

    canvas {
      @apply w-full h-full;
    }
  }

  &_score {
    @apply absolute  top-1 left-2;
  }

  .score-text {
    @apply font-bold text-white text-4xl;

    font-family: "VT323", monospace;

    &__red {
      @apply text-red-500;
    }
  }

  &_text {
    @apply pb-4 text-xl font-bold text-center;
  }
}
