$glob-color-blue: #0d6efd;
$glob-color-white: #fff;

$glob-text-font-stack: "Ubuntu", "Open Sans", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$glob-code-font-stack: inconsolata, monospace;
