name: Test

on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited]

jobs:
  build:
    if: github.repository_owner == 'DVAA-team'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm test
